@import "src/App";
@import "src/index";

.meanings {
  & ul {
    padding-inline: 4.7rem;
    line-height: 24px;
    font-size: 18px;

    & li {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;

      &::marker {
        color: $primary-color;
        font-size: 2rem;
        margin-right: 2rem;
      }
    }
  }

  & .type-separator-container {
    @include flex-center;
    margin-top: 3rem;
    max-height: 12rem;
  }
}
