@import "src/App";

.nyms {
  @include flex-center;
  margin-top: 6.4rem;
  justify-content: flex-start;
  height: 3rem;

  &:not(:only-child) {
    &:last-child {
      margin-top: 3rem;
    }
  }

  & ul {
    @include flex-center;
    //flex-wrap: wrap;
    list-style: none;
    padding: 2.4rem;
    gap: 2rem;
    color: $primary-color;
    font-weight: 700;
    font-size: 2rem;

    & li {
      margin: 0;
    }
  }

  & h4 {
    margin-bottom: 0;
  }
}
