@import "../../App";

.title-container {
  @include flex-center;
  justify-content: space-between;

  & .title {
    //max-width: 29ch;
    overflow: hidden;
    text-overflow: ellipsis;
    //flex-grow: 1;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  & .pronounciation {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: $primary-color;
  }

  & img {
    //opacity: 0.8;
    width: 7.5rem;
  }
}
