@import "../App";

@mixin button-style {
  background-color: transparent;
  border: none;
  color: $font-color;
}

@mixin hover-effect {
  color: $primary-color;
}

.font-selector {
  @include flex-column-center;
  position: relative;
  border-radius: 3rem;
  margin-left: auto;

  & > button {
    @include button-style;
    font-size: 1.8rem;
    cursor: pointer;

    &:hover {
      @include hover-effect;
    }

    & > img {
      width: 1.2rem;
      height: 0.6rem;
      margin-left: 1rem;
    }
  }

  & > ul {
    font-size: 1.8rem;
    line-height: 2.4rem;
    transition: all 0.2s;
    align-self: flex-end;
    @include flex-column-center;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    position: absolute;
    list-style: none;
    min-width: 12.3rem;
    height: auto;
    top: 2rem;
    backdrop-filter: blur(3rem);
    border-radius: 1.6rem;
    background-color: rgba($window-color, 80%);
    box-shadow: 0 0.5rem 3rem $primary-color;
    z-index: -10;

    & > li {
      cursor: pointer;

      &:hover {
        @include hover-effect;
      }
    }
  }

  & :not(.hide) {
    opacity: 1;
  }

  & .hide {
    opacity: 0;
    transform: translateY(-30%);
    visibility: hidden;
  }
}
