@import "../App";

@mixin button-style {
  background-color: transparent;
  border: none;
  color: $font-color;
}

@mixin hover-effect {
  color: $primary-color;
}

.font-selector {
  font-weight: 700;
  margin-left: auto;

  & .font-current {
    display: flex;
    justify-content: flex-end;

    & > span {
      @include button-style;
      @include flex-center;
      font-size: 1.8rem;
      cursor: pointer;

      &:hover {
        @include hover-effect;
      }
      & > img {
        width: 1.6rem;
        height: 0.6rem;
        margin-left: 1rem;
      }
    }

    & > ul {
      position: absolute;
      font-size: 1.8rem;
      line-height: 2.4rem;
      transition: all 0.1s;
      @include flex-center;
      flex-direction: column;
      gap: 1.6rem;
      padding: 2rem;
      list-style: none;
      min-width: 14.3rem;
      top: 5rem;
      border-radius: 1.6rem;
      backdrop-filter: blur(0.5rem);
      background-color: rgba($window-color, 80%);

      &:not(.hide) {
        box-shadow: 0 0.5rem 3rem $primary-color;
      }

      & > li {
        width: 100%;
        cursor: pointer;

        &:hover {
          @include hover-effect;
        }
      }
      & .active {
        color: $primary-color;
      }
    }
  }

  & :not(.hide) {
    opacity: 1;
  }

  & .hide {
    opacity: 0;
    transform: translateY(-30%);
    visibility: hidden;
  }
}
