@import "../App";
@import "../index";

.main-content {
  margin-bottom: 10rem;

  & .source-container {
    font-size: 14px;
    line-height: 17px;
    @include flex-center;
    justify-content: flex-start;
    gap: 1rem;
    & h5 {
      margin-right: 1rem;
    }
  }

  & & h1 {
    font-size: 6.4rem;
    margin-bottom: 0.8rem;
  }

  & h3 {
    margin-right: 2rem;
    font-style: italic;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  & h4 {
    color: $light-back-color;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 2.5rem;
  }

  h5 {
    color: $light-back-color;
  }

  & a {
    transition: filter 0.3s;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      filter: brightness(120%);
    }
  }
}
