@import "../App";

.meanings {
  //margin-bottom: 4rem;
  & ul {
    padding-inline: 4.7rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    & li {
      margin-bottom: 1.3rem;

      &::marker {
        color: $primary-color;
        font-size: 2rem;
        margin-right: 2rem;
      }
    }
  }

  & .type-separator-container {
    @include flex-center;
  }
}
