.navbar {
  //background-color: rgba(164, 69, 237, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 73.7rem;
  max-height: 3.6rem;
  margin: 1rem;

  & img {
    width: 3.2rem;
  }
}

.hidden {
  visibility: hidden;
}
