$color-back: rgba(0, 0, 0, 0.95);
$font-color: #efefef;
$window-color: #1f1f1f;
$primary-color: #a445ed;
$light-back-color: #757575;
$font-names: lora, inter, inconsolata;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@each $font-name in $font-names {
  @font-face {
    font-family: $font-name;
    src: local($font-name),
      url("/src/assets/fonts/#{$font-name}/#{$font-name}.ttf")
        format("truetype");
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-back;
  color: $font-color;
}

body.light {
  color: black;
  background-color: white;
}

.app {
  margin: 3rem auto;
  padding: 0 3rem;
  max-width: 73.6rem;
  font-size: 3rem;
}
