@import "./App";

$screen-medium: 450px;
$screen-small: 350px;

:root {
  font-size: 10px;

  @media screen and (max-width: $screen-medium) {
    font-size: 7.5px;
  }

  //@media screen and (max-width: $screen-small) {
  //  font-size: 7.5px;
  //}
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
Link {
  transition: filter 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: $primary-color;

  &:hover {
    filter: brightness(120%);

    .light & {
      filter: brightness(120%);
    }
  }
}
